# Ensure our tests don't get CRLF mangled.
#TODO: be more precise with these?
*.in                                         -text
*.fails                                      -text
*.out                                        -text
*.errout                                     -text
